.container {
  margin: auto;
  margin-top: 40px;
  background: whitesmoke;
  color: #262626;
  display: flex;
  flex-direction: column;
 
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}
.container hr {
  height: 2px;
  border: none;
  background: #f7d3c9;
}
.container h2 {
  font-size: 28px;

  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container ul li {
  display: flex;
  align-items: center;
  height: 72px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container button {
  margin: auto;
  width: 230px;
  height: 65px;
  background: #553f9a;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}
.correct {
  background: green;
  border-color: #262626;
}
.incorrect {
  background: red;
  border-color: #2626;
}
